// Common breakpoints.
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin media-sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin media-md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Used to determine the maximum width of the content in relation to the screen.
$container-sm-max: 550px;
$container-md-max: 750px;
$container-lg-max: 950px;
$container-xl-max: 1100px;

@mixin container {
  margin-left: auto;
  margin-right: auto;

  @include media-sm {
    max-width: $container-sm-max
  }

  @include media-md {
    max-width: $container-md-max
  }

  @include media-lg {
    max-width: $container-lg-max
  }

  @include media-xl {
    max-width: $container-xl-max
  }
}

.container {
  @include container;
}
