:root {
  --background: #282828;
  --on-background: #ebdbb2;
  --divider: #928374;
  --border: #928374;

  --primary: #fe8019;
  --secondary: #fabd2f;

  --link: #d3869b;
  --visited: #d3869b;
  --active: #fb4934;
}
